<h2><%= @user.name %>'s Token</h2>

<div>
  <span id='user-token'><%= @user.token %></span>
</div>

<div>
  <button type='button' id='generate-token' class="btn btn-primary" data-loading-text="Loading...">Generate New Token</button>
</div>
