<h2>Publishers In Collection</h2>

<ul>
  <% @publishers.each do |publisher| %>
    <li>
      <%= link_to publisher.name, user_publisher_path(@user, publisher) %>
      (<%= pluralize(publisher.volumes.size, 'Volume') %>)
    </li>
  <% end %>
</ul>
