<h2><%= @publisher.name %></h2>

<ul>
  <% @volumes.each do |volume| %>
    <li>
      <%= link_to volume.to_s, user_volume_path(@user, volume) %>
      (<%= pluralize(@user.issues_by_volume(volume).size, 'Issue') %>)
    </li>
  <% end %>
</ul>
