<h2><%= @volume.to_s %></h2>

<ul>
  <% @issues.each do |issue| %>
    <% collections = @user.collections.where(issue: issue).all %>
    <% collections.each do |collection| %>
      <li>
        <% if collection.is_variant? %>
          <%= link_to collection.to_s, user_variant_path(@user, issue, collection.id) %>
        <% else %>
          <%= link_to issue.to_s, user_issue_path(@user, issue) %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
