<h2><%= @character.name %></h2>

<p>Appears in <%= pluralize(@issues.all.count, 'issue') %> in your collection.</p>

<div class="col-md-6">
  <div class='list-group'>
  <% @issues.each do |issue| %>
    <%= link_to issue.to_s, user_issue_path(@user, issue), class: 'list-group-item' %>
  <% end %>
  </div>
</div>
